.container{
    display: flex;
}
header{
    justify-content: space-between;

    align-items: center;
}
main{
    margin-top: 5%;
}
.dados h2{
    text-align: center;
}
.dados{
    margin:5px 50px;
}
.formacao h2{
    text-align: center;
}
.formacao{
    margin:5px 50px;
}
.xp h2{
    text-align: center;
}
.xp{
    margin:5px 50px;
}

footer{
    margin-top: 10%;
    text-align: center;
}
